{% extends "user-account-dashboard/base.html" %}
{% load static %}
{% block UserMainContent %}
                    <!-- Main content -->
                    <div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
                        <!-- Title and offcanvas button -->
                        <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                            <!-- Title -->
                            <h1 class="h3 mb-0">My projects</h1>

                            <!-- Advanced filter responsive toggler START -->
                            <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
                                aria-controls="offcanvasSidebar">
                                <i class="fas fa-sliders-h"></i> Menu
                            </button>
                            <!-- Advanced filter responsive toggler END -->
                        </div>

                        <!-- Search and buttons -->
                        <div class="row g-3 align-items-center mb-5">
                            <!-- Search -->
                            <div class="col-xl-5">
                                <form class="rounded position-relative">
                                    <input class="form-control pe-5" type="search" placeholder="Search"
                                        aria-label="Search">
                                    <button
                                        class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                        type="submit"><i class="fas fa-search fs-6"></i></button>
                                </form>
                            </div>

                            <!-- Select option -->
                            <div class="col-sm-6 col-xl-3 ms-auto">
                                <!-- Short by filter -->
                                <form>
                                    <select class="form-select js-choice" aria-label=".form-select-sm">
                                        <option>Sort by</option>
                                        <option selected>Published</option>
                                        <option>Free</option>
                                        <option>Newest</option>
                                        <option>Oldest</option>
                                    </select>
                                </form>
                            </div>

                            <!-- Button -->
                            <div class="col-sm-6 col-xl-3">
                                <a href="#" class="btn btn-primary mb-0"><i class="bi bi-plus-lg me-2"></i>Add new
                                    project</a>
                            </div>
                        </div>

                        <!-- Table -->
                        <div class="table-responsive border-0">
                            <table class="table align-middle p-4 mb-0 table-hover">
                                <!-- Table head -->
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="border-0 text-white rounded-start">Image</th>
                                        <th scope="col" class="border-0 text-white">Title</th>
                                        <th scope="col" class="border-0 text-white">Status</th>
                                        <th scope="col" class="border-0 text-white">Category</th>
                                        <th scope="col" class="border-0 text-white rounded-end">Action</th>
                                    </tr>
                                </thead>

                                <!-- Table body START -->
                                <tbody>

                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <img src="assets/images/portfolio/showcase/02.jpg"
                                                class="img-fluid w-80px rounded" alt="project-img">
                                        </td>

                                        <!-- Table data -->
                                        <td>Website Optimization for TechWave</td>

                                        <!-- Table data -->
                                        <td><i class="fa-solid fa-circle fa-2xs text-success me-2"></i>Published</td>

                                        <!-- Table data -->
                                        <td>Web design</td>

                                        <!-- Table data -->
                                        <td>
                                            <button class="btn btn-sm btn-dark me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-pencil-square"></i></button>
                                            <button class="btn btn-sm btn-light border me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-power"></i></button>
                                            <button class="btn btn-sm btn-danger me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-trash"></i></button>
                                        </td>
                                    </tr>

                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <img src="assets/images/portfolio/showcase/04.jpg"
                                                class="img-fluid w-80px rounded" alt="project-img">
                                        </td>

                                        <!-- Table data -->
                                        <td>Transforming Ideas into Reality</td>

                                        <!-- Table data -->
                                        <td><i class="fa-solid fa-circle fa-2xs text-success me-2"></i>Published</td>

                                        <!-- Table data -->
                                        <td>Marketing</td>

                                        <!-- Table data -->
                                        <td>
                                            <button class="btn btn-sm btn-dark me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-pencil-square"></i></button>
                                            <button class="btn btn-sm btn-light border me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-power"></i></button>
                                            <button class="btn btn-sm btn-danger me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-trash"></i></button>
                                        </td>
                                    </tr>

                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <img src="assets/images/portfolio/showcase/03.jpg"
                                                class="img-fluid w-80px rounded" alt="project-img">
                                        </td>

                                        <!-- Table data -->
                                        <td>The Art of Storytelling</td>

                                        <!-- Table data -->
                                        <td><i class="fa-solid fa-circle fa-2xs text-danger me-2"></i>Private</td>

                                        <!-- Table data -->
                                        <td>Graphics design</td>

                                        <!-- Table data -->
                                        <td>
                                            <button class="btn btn-sm btn-dark me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-pencil-square"></i></button>
                                            <button class="btn btn-sm btn-light border me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-power"></i></button>
                                            <button class="btn btn-sm btn-danger me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-trash"></i></button>
                                        </td>
                                    </tr>

                                    <!-- Table row -->
                                    <tr>
                                        <!-- Table data -->
                                        <td>
                                            <img src="assets/images/portfolio/showcase/05.jpg"
                                                class="img-fluid w-80px rounded" alt="project-img">
                                        </td>

                                        <!-- Table data -->
                                        <td>UI/UX Enhancement for SnapMedia</td>

                                        <!-- Table data -->
                                        <td><i class="fa-solid fa-circle fa-2xs text-success me-2"></i>Published</td>

                                        <!-- Table data -->
                                        <td>UI/UX design</td>

                                        <!-- Table data -->
                                        <td>
                                            <button class="btn btn-sm btn-dark me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-pencil-square"></i></button>
                                            <button class="btn btn-sm btn-light border me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-power"></i></button>
                                            <button class="btn btn-sm btn-danger me-1 mb-1 mb-md-0"><i
                                                    class="bi bi-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- Table body END -->
                            </table>
                        </div>

                    </div>
{% endblock UserMainContent %}