{% extends "user-account-dashboard/base.html" %}
{% load static %}
{% block UserMainContent %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Project</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'account_projects' %}" method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <select class="form-select" name="category" required>
                        <option selected="selected" disabled>Category</option>
                        {% for community in communities %}
                            <option value="{{ community.id }}">{{ community.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title" required>
                    <label for="title">Title</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <input type="text" class="form-control" id="timeline" placeholder="Timeline" name="timeline" required>
                    <label for="timeline">Timeline</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <input type="number" class="form-control" id="price" placeholder="Price" name="price" required>
                    <label for="price">Price</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <input type="text" class="form-control" id="skills" placeholder="Skills" name="skills" required>
                    <label for="skills">Skills</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <input type="text" class="form-control" id="responsibilities" placeholder="Responsibilities" name="responsibilities" required>
                    <label for="responsibilities">Responsibilities</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <textarea class="form-control" placeholder="Description" id="description" name="description" required></textarea>
                    <label for="description">Description</label>
                </div>
                <div class="input-floating-label form-floating mb-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>            
        </div>
      </div>
    </div>
  </div>


<!-- Main content -->
<div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
    <!-- Title and offcanvas button -->
    <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
        <!-- Title -->
        <h1 class="h3 mb-0">My projects</h1>

        <!-- Advanced filter responsive toggler START -->
        <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
            aria-controls="offcanvasSidebar">
            <i class="fas fa-sliders-h"></i> Menu
        </button>
        <!-- Advanced filter responsive toggler END -->
    </div>

    <!-- Search and buttons -->
    <div class="row g-3 align-items-center mb-5">
        <!-- Search -->
        <div class="col-xl-5">
            <form class="rounded position-relative">
                <input class="form-control pe-5" type="search" placeholder="Search"
                    aria-label="Search">
                <button
                    class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                    type="submit"><i class="fas fa-search fs-6"></i></button>
            </form>
        </div>

        <!-- Button -->
        <div class="col-sm-6 col-xl-3">
            <!-- Button trigger modal -->
            <a href="#" class="btn btn-primary mb-0" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-lg me-2"></i>Add new
                project</a>
        </div>
    </div>
    <!-- my_template.html -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class=" {{ message.tags }} p-4 mb-0 bg-primary text-white" {% if message.tags %} {% endif %}>{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    <!-- Table -->
    <div class="table-responsive border-0">
        <table class="table align-middle p-4 mb-0 table-hover">
            <!-- Table head -->
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="border-0 text-white">Title</th>
                    <th scope="col" class="border-0 text-white">Category</th>
                    <th scope="col" class="border-0 text-white rounded-end">Action</th>
                </tr>
            </thead>

            <!-- Table body START -->
            <tbody>
                {% for project in projects %}
                    <!-- Table row -->
                    <tr>
                        <!-- Table data -->
                        <td>{{project.title}}</td>

                        <!-- Table data -->
                        <td>{{project.category}}</td>

                        <!-- Table data -->
                        <td>
                            <button class="btn btn-sm btn-dark me-1 mb-1 mb-md-0"><i
                                    class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-sm btn-danger me-1 mb-1 mb-md-0"><i
                                    class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <!-- Table body END -->
        </table>
    </div>

</div>
{% endblock UserMainContent %}