{% extends "user-account-dashboard/base.html" %}
{% load static %}
{% block UserMainContent %}
                    <!-- Main content -->
                    <div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
                        <!-- Title and offcanvas button -->
                        <div class="d-flex justify-content-between align-items-center mb-5 mb-sm-6">
                            <!-- Title -->
                            <h1 class="h3 mb-0">Account security</h1>

                            <!-- Advanced filter responsive toggler START -->
                            <button class="btn btn-primary d-lg-none flex-shrink-0 ms-2" type="button"
                                data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar"
                                aria-controls="offcanvasSidebar">
                                <i class="fas fa-sliders-h"></i> Menu
                            </button>
                            <!-- Advanced filter responsive toggler END -->
                        </div>

                        <!-- Auth and link account -->
                        <form>
                            <!-- Active log -->
                            <div
                                class="bg-light border rounded-3 d-md-flex justify-content-between align-items-center p-4 mb-3">
                                <!-- Content -->
                                <div>
                                    <h6>Activity Logs</h6>
                                    <p class="mb-1 mb-md-0">You can save your all activity logs including unusual
                                        activity detected.</p>
                                </div>
                                <!-- Switch -->
                                <div class="form-check form-switch form-check-md mb-0">
                                    <input class="form-check-input" type="checkbox" id="checkPrivacy1" checked="">
                                </div>
                            </div>

                            <!-- Auth setting -->
                            <div
                                class="bg-light border rounded-3 p-4 d-md-flex justify-content-between align-items-center mb-4">
                                <!-- Content -->
                                <div>
                                    <h6>Two factor authentication</h6>
                                    <p class="small mb-1 mb-md-0">Secure your account with 2 Step security. When it is
                                        activated you will need to enter not only your password, but also a special code
                                        using app. You can receive this code by in mobile app.</p>
                                </div>
                                <!-- Switch -->
                                <div class="form-check form-switch form-check-md mb-0">
                                    <input class="form-check-input" type="checkbox" id="checkPrivacy13" checked="">
                                </div>
                            </div>

                            <!-- Linked account -->
                            <div class="card bg-transparent rounded-3">
                                <!-- Card header -->
                                <div class="card-header bg-transparent border-bottom px-0">
                                    <h6 class="card-header-title mb-0">Linked account</h6>
                                </div>
                                <!-- Card body START -->
                                <div class="card-body px-0 pb-0">
                                    <!-- Google -->
                                    <div
                                        class="position-relative d-md-flex align-items-center bg-success bg-opacity-10 border rounded border-success mb-4 p-4">
                                        <!-- Check mark -->
                                        <div
                                            class="position-absolute top-0 start-100 translate-middle bg-white rounded-circle lh-1 h-20px">
                                            <i class="bi bi-check-circle-fill text-success fs-5"></i>
                                        </div>
                                        <!-- Title -->
                                        <h2 class="fs-1 mb-0 me-3"><i class="fab fa-google text-google-icon"></i></h2>
                                        <!-- Content -->
                                        <div class="me-md-3 mb-3 mb-md-0">
                                            <h6 class="mb-1">Google</h6>
                                            <p class="mb-0 small">You are successfully connected to your Google account
                                            </p>
                                        </div>

                                        <!-- Button -->
                                        <div class="ms-auto">
                                            <button type="button" class="btn btn-sm btn-danger mb-0">Invoke</button>
                                            <a href="#" class="btn btn-sm btn-link text-primary-hover mb-0">Learn
                                                more</a>
                                        </div>
                                    </div>

                                    <!-- Linkedin -->
                                    <div class="d-md-flex align-items-center border rounded mb-4 p-4">
                                        <!-- Title and content -->
                                        <h2 class="fs-1 mb-0 me-3"><i class="fab fa-linkedin-in text-linkedin"></i></h2>
                                        <div class="mb-3 mb-md-0">
                                            <h6 class="mb-1">Linkedin</h6>
                                            <p class="mb-1 small">Connect with Linkedin account for a personalized
                                                experience</p>
                                        </div>
                                        <!-- Button -->
                                        <div class="ms-auto">
                                            <button type="button" class="btn btn-sm btn-dark mb-0">Connect
                                                Linkedin</button>
                                            <a href="#" class="btn btn-sm btn-link text-primary-hover mb-0">Learn
                                                more</a>
                                        </div>
                                    </div>

                                    <!-- Facebook -->
                                    <div class="d-md-flex align-items-center border rounded p-4">
                                        <!-- Title and content -->
                                        <h2 class="fs-1 mb-0 me-3"><i class="fab fa-facebook text-facebook"></i></h2>
                                        <div class="mb-3 mb-md-0">
                                            <h6 class="mb-1">Facebook</h6>
                                            <p class="mb-1 small">Connect with Facebook account for a personalized
                                                experience</p>
                                        </div>
                                        <!-- Button -->
                                        <div class="ms-auto">
                                            <button type="button" class="btn btn-sm btn-dark mb-0">Connect
                                                Facebook</button>
                                            <a href="#" class="btn btn-sm btn-link text-primary-hover mb-0">Learn
                                                more</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card body END -->
                            </div>
                        </form>

                        <div class="text-center my-5"><i class="bi bi-three-dots"></i></div>
                        <!-- Divider -->

                        <!-- Social media and devices -->
                        <div class="row g-lg-6">
                            <!-- Social media profile START -->
                            <form class="col-md-6 col-lg-12 col-xl-6">
                                <div class="card bg-transparent rounded-3">
                                    <!-- Card header -->
                                    <div class="card-header bg-transparent border-bottom px-0">
                                        <h6 class="card-header-title mb-0">Social media profile</h6>
                                    </div>
                                    <!-- Card body START -->
                                    <div class="card-body px-0">
                                        <!-- Facebook username -->
                                        <div class="mb-3">
                                            <label class="form-label"><i
                                                    class="fab fa-facebook text-facebook me-2"></i>Enter facebook
                                                username</label>
                                            <input class="form-control" type="text" value="JqMiller"
                                                placeholder="Enter username">
                                        </div>

                                        <!-- Twitter username -->
                                        <div class="mb-3">
                                            <label class="form-label"><i
                                                    class="bi bi-twitter text-twitter me-2"></i>Enter twitter
                                                username</label>
                                            <input class="form-control" type="text" value="JqMiller"
                                                placeholder="Enter username">
                                        </div>

                                        <!-- Instagram username -->
                                        <div class="mb-3">
                                            <label class="form-label"><i
                                                    class="fab fa-instagram text-instagram-gradient me-2"></i>Enter
                                                instagram username</label>
                                            <input class="form-control" type="text" value="JqMiller"
                                                placeholder="Enter username">
                                        </div>

                                        <!-- Youtube -->
                                        <div class="mb-3">
                                            <label class="form-label"><i
                                                    class="fab fa-youtube text-youtube me-2"></i>Add your youtube
                                                profile URL</label>
                                            <input class="form-control" type="text"
                                                value="https://www.youtube.com/in/Mizzle-05620abc"
                                                placeholder="Enter username">
                                        </div>

                                        <!-- Button -->
                                        <div class="d-flex justify-content-end mt-4">
                                            <button type="button" class="btn btn-primary mb-0">Save changes</button>
                                        </div>
                                    </div>
                                    <!-- Card body END -->
                                </div>
                            </form>
                            <!-- Social media profile END -->

                            <!-- Devices START -->
                            <form class="col-md-6 col-lg-12 col-xl-6">
                                <div class="card bg-transparent rounded-3">
                                    <!-- Card header -->
                                    <div
                                        class="card-header bg-transparent border-bottom d-flex justify-content-between align-items-center px-0">
                                        <h6 class="card-header-title mb-0">Devices</h6>
                                        <button class="btn btn-sm btn-danger-soft mb-0" type="button">Sign out from all
                                            devices</button>
                                    </div>
                                    <!-- Card body START -->
                                    <div class="card-body px-0">
                                        <!-- Device item -->
                                        <div class="d-flex border-bottom pb-4 mb-4">
                                            <!-- Icon -->
                                            <span class="fs-5 heading-color"><i class="bi bi-phone fa-fw"></i></span>
                                            <!-- Info -->
                                            <div class="ms-2">
                                                <p class="heading-color fw-bold mb-0">Iphone 12pro <span
                                                        class="badge small text-bg-primary">Active now</span></p>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item">London, UK </li>
                                                    <li class="nav-item">Oct 23 at 1:15PM</li>
                                                </ul>
                                            </div>

                                            <!-- Dropdown button -->
                                            <div class="dropdown ms-auto">
                                                <!-- Share button -->
                                                <a href="#" class="text-primary-hover fs-6" role="button"
                                                    id="dropdownAction1" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <!-- dropdown button -->
                                                <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow"
                                                    aria-labelledby="dropdownAction1">
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-pencil-square me-2"></i>Edit</a></li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-slash-circle me-2"></i>Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Device item -->
                                        <div class="d-flex border-bottom pb-4 mb-4">
                                            <!-- Icon -->
                                            <span class="fs-5 heading-color"><i class="bi bi-phone fa-fw"></i></span>
                                            <!-- Info -->
                                            <div class="ms-2">
                                                <p class="heading-color fw-bold mb-0">Iphone SE</p>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item">London, UK </li>
                                                    <li class="nav-item">Oct 13 at 4:15PM</li>
                                                </ul>
                                            </div>

                                            <!-- Dropdown button -->
                                            <div class="dropdown ms-auto">
                                                <!-- Share button -->
                                                <a href="#" class="text-primary-hover fs-6" role="button"
                                                    id="dropdownAction2" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <!-- dropdown button -->
                                                <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow"
                                                    aria-labelledby="dropdownAction2">
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-pencil-square me-2"></i>Edit</a></li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-slash-circle me-2"></i>Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Device item -->
                                        <div class="d-flex border-bottom pb-4 mb-4">
                                            <!-- Icon -->
                                            <span class="fs-5 heading-color"><i class="bi bi-laptop fa-fw"></i></span>
                                            <!-- Info -->
                                            <div class="ms-2">
                                                <p class="heading-color fw-bold mb-0">Macbook pro</p>
                                                <ul class="nav nav-divider small">
                                                    <li class="nav-item">California, USA </li>
                                                    <li class="nav-item">Oct 20 at 5:15PM</li>
                                                </ul>
                                            </div>

                                            <!-- Dropdown button -->
                                            <div class="dropdown ms-auto">
                                                <!-- Share button -->
                                                <a href="#" class="text-primary-hover fs-6" role="button"
                                                    id="dropdownAction3" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="bi bi-three-dots-vertical"></i>
                                                </a>
                                                <!-- dropdown button -->
                                                <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow"
                                                    aria-labelledby="dropdownAction3">
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-pencil-square me-2"></i>Edit</a></li>
                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="bi bi-slash-circle me-2"></i>Remove</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-dark mb-0">Need help?</button>
                                        </div>
                                    </div>
                                    <!-- Card body END -->
                                </div>
                            </form>
                            <!-- Devices END -->
                        </div>

                    </div>
{% endblock UserMainContent %}