{% extends "user-account-dashboard/base.html" %}
{% load static %}

{% block UserMainContent %}
<div class="col-lg-8 col-xl-9 ps-lg-4 ps-xl-6">
    <main class="main is-visible" data-dropzone-area="">
        <div class="container h-100">
            <div class="d-flex flex-column h-100 position-relative">
                <!-- Chat: Header -->
                <div class="chat-header border-bottom">
                    <div class="row align-items-center">
                        <!-- Mobile: close -->
                        <div class="col-2 d-xl-none">
                            <a class="icon icon-lg text-muted" href="{% url 'messages' %}" data-toggle-chat="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">
                                    <polyline points="15 18 9 12 15 6"></polyline>
                                </svg>
                            </a>
                        </div>
                        <!-- Mobile: close -->

                        <!-- Content -->
                        <div class="col-12">
                            <div class="row align-items-center text-center text-xl-start">
                                <!-- Title -->
                                <div class="col-12">
                                    <div class="row align-items-center gx-5">
                                        <!-- User Info -->
                                        <div class="col-auto">
                                        <center><h5>Start chat with us!</h5></center>
                                        </div>
                                        <!-- User Info -->
                                    </div>
                                </div>
                                <!-- Title -->
                            </div>
                        </div>
                        <!-- Content -->
                    </div>
                </div>
                <!-- Chat: Header -->

                <!-- Chat: Content -->
                <div class="chat-body hide-scrollbar flex-1 h-100 chat__item__container" id="id_chat_item_container" style="font-size: 20px">
                    <div class="chat-body-inner" style="padding-bottom: 87px">
                        <!-- Messages will be dynamically loaded here -->
                    </div>
                </div>
                <!-- Chat: Content -->

                <!-- Chat: Footer -->
                <div class="chat-footer pb-3 pb-lg-7 position-sticky bottom-0 start-0">
                    <!-- Chat: Form -->
                    <form id="chat-form" class="chat-form rounded-pill bg-dark" data-emoji-form="">
                        <div class="row align-items-center gx-0">
                            <div class="col-auto">
                                <a href="#" class="btn btn-icon btn-link text-body rounded-circle dz-clickable" id="dz-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-paperclip">
                                        <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                                    </svg>
                                </a>
                            </div>

                            <div class="col">
                                <div class="input-group">
                                    <textarea class="form-control text-white" id="id_message_send_input" placeholder="Type your message..." rows="1" data-emoji-input="" data-autosize="true" style="overflow: hidden;overflow-wrap: break-word;resize: none;background: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;border: none;"></textarea>

                                    <a href="#" style="display:flex; justify-content: center; align-items: center;" data-emoji-btn="">
                                        <span class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-smile">
                                                <circle cx="12" cy="12" r="10"></circle>
                                                <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                                                <line x1="9" y1="9" x2="9.01" y2="9"></line>
                                                <line x1="15" y1="9" x2="15.01" y2="9"></line>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button class="btn btn-icon btn-primary rounded-circle ms-5" id="id_message_send_button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                                        <line x1="22" y1="2" x2="11" y2="13"></line>
                                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Chat: Form -->
                </div>
                <!-- Chat: Footer -->
            </div>
        </div>
    </main>
</div>

<!-- Hidden user list for chat selection -->
 
{% endblock UserMainContent %}

{% block javascript %}
<script>
    const userId = {{user.id}}  // Replace with the actual user ID
    const ws = new WebSocket(`ws://${window.location.host}/ws/chat_view/${userId}/`);
    ws.onopen = function (e) {
      console.log("The connection was setup successfully !");
    };
    ws.onclose = function (e) {
      console.log("Something unexpected happened !");
    };
    document.querySelector("#id_message_send_input").focus();
    document.querySelector("#id_message_send_input").onkeyup = function (e) {
      if (e.keyCode == 13) {
        document.querySelector("#id_message_send_button").click();
      }
    };
    document.querySelector("#id_message_send_button").onclick = function (e) {
      var messageInput = document.querySelector(
        "#id_message_send_input"
      ).value;
      ws.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
    };
    ws.onmessage = function (e) {
      const data = JSON.parse(e.data);
      var div = document.createElement("div");
      div.innerHTML = data.username + " : " + data.message;
      document.querySelector("#id_message_send_input").value = "";
      document.querySelector("#id_chat_item_container").appendChild(div);
      document.querySelector(".chat-body").scrollTop = document.querySelector(".chat-body").scrollHeight;
    };
  </script>
{% endblock %}
