{% extends "base.html" %}
{% load static %}
{% block Content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- Case studies detail START -->
        <section class="pt-xl-9">
            <div class="container pt-4 pt-xl-0 position-relative z-index-2">

                <!-- Title -->
                <h1 class="h2 mb-4 mb-sm-6">Website Optimization for TechWave</h1>

                <!-- Image and content -->
                <div class="row justify-content-lg-end justify-content-center flex-lg-nowrap mb-7">

                    <div class="col-sm-6 d-flex mb-5 mb-sm-6 mb-lg-0">
                        <!-- Image -->
                        <img src="{% static "theme-assets/images/portfolio/case-study-02.jpg" %}" class="rounded" alt="portfolio-img">
                    </div>

                    <div class="col-sm-6 ps-lg-6">
                        <!-- Project title -->
                        <h4 class="mb-4">Overview</h4>
                        <p class="mb-4">{{user_data.skills_expertise}}</p>
                        <!-- Project list -->
                        <table class="table table-borderless mb-4">
                            <tbody>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Client:</th>
                                    <td class="px-0 py-2">{{user_data.full_name}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Manager:</th>
                                    <td class="px-0 py-2">Emma Watson, Maria Smith</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Category:</th>
                                    <td class="px-0 py-2">Interior design</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Awards:</th>
                                    <td class="px-0 py-2">
                                        <span class="d-block"> Pineapple Award Design</span>
                                        <span class="d-block mt-2"> Project of the Year </span>
                                        <span class="d-block mt-2"> Designer of the Year</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Button -->
                        <a href="#" class="btn btn-dark mb-0">Chat</a>
                    </div>
                </div>

                <!-- Challenge -->
                <div class="row mb-6">
                    <div class="col-md-4">
                        <h4>01. The Challenge</h4>
                    </div>

                    <div class="col-md-7 ms-auto">
                        <p><span class="dropcap fs-2 heading-color bg-light rounded px-2">T</span>he simple act of cultivating gratitude has the remarkable ability to bring joy and abundance into our lives, shifting our perspective from lack to abundance.
                            In this article, we will explore the power of gratitude and how it can enhance our overall well-being and create a positive ripple effect in our lives and the lives of those around us. <strong>In a world filled with chaos</strong>                            and uncertainty, it's easy to lose sight of the things that truly matter.</p>
                        <p class="mb-0">Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis, <a href="#">exploring existing solutions</a>, and collaborating with
                            others can help refine the idea further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability.</p>
                    </div>
                </div>

                <!-- Images -->
                <div class="row g-4 g-xl-6">
                    <div class="col-sm-6">
                        <a href="{% static "theme-assets/images/portfolio/showcase/04.jpg" %}" data-glightbox data-gallery="image-popup">
					<img src="{% static "theme-assets/images/portfolio/showcase/04.jpg" %}" class="rounded" alt="portfolio-img">
				</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% static "theme-assets/images/portfolio/showcase/05.jpg" %}" data-glightbox data-gallery="image-popup">
					<img src="{% static "theme-assets/images/portfolio/showcase/05.jpg" %}" class="rounded" alt="portfolio-img">
				</a>
                    </div>
                </div>

                <!-- Solution -->
                <div class="row mt-6">
                    <div class="col-md-4">
                        <!-- Title -->
                        <h4>02. The Solution</h4>
                    </div>

                    <div class="col-md-7 ms-auto">
                        <!-- Content -->
                        <p class="mb-4">Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis, exploring existing solutions, and collaborating with others can help
                            refine the idea further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability. It begins with recognizing the power and potential of an idea. Through cultivation, planning,
                            and strategizing, ideas are refined and shaped into actionable plans. Challenges are embraced as opportunities for growth, and perseverance becomes key in overcoming obstacles.</p>
                    </div>
                </div>

                <!-- Result -->
                <div class="row mt-6">
                    <div class="col-md-4">
                        <!-- Title -->
                        <h4>03. The Result</h4>
                    </div>

                    <!-- Content -->
                    <div class="col-md-7 ms-auto">
                        <p class="lead">Two assure Edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished.</p>
                        <p>Transforming ideas into reality often requires collaboration with a diverse range of individuals. Partnering with experts, seeking mentorship, and building a network of like-minded individuals can provide valuable insights and
                            support.</p>

                        <!-- Quote -->
                        <div class="d-flex mt-4">
                            <h5 class="display-4 text-primary lh-0 mb-0"><i class="bi bi-quote"></i></h5>
                            <div class="ms-3">
                                <q class="fs-6 heading-color">Too months nay end change relied who beauty wishes matter. Shew of john real park so rest we on. Ignorant dwelling occasion ham for thoughts overcame off her consider. Polite it elinor is depend.</q>
                                <!-- Avatar -->
                                <div class="d-flex align-items-center mt-4">
                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img class="avatar-img rounded-circle" src="{% static "theme-assets/images/avatar/02.jpg" %}" alt="avatar">
                                    </div>
                                    <!-- Info -->
                                    <div class="ms-3">
                                        <h6 class="mb-0">Emma Watson</h6>
                                        <small>CEO, Co-founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Case studies detail END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock Content %}