{% extends "base.html" %}
{% load static %}
{% block Content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- Case studies detail START -->
        <section class="pt-xl-9">
            <div class="container pt-4 pt-xl-0 position-relative z-index-2">

                <!-- Bread crumb -->
                <div class="d-flex position-relative mb-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dots pb-0 mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Portfolio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Portfolio case studies v2</li>
                        </ol>
                    </nav>
                </div>
                <!-- Title -->
                <h1 class="h2 mb-4 mb-sm-6">Website Optimization for TechWave</h1>

                <!-- Image and content -->
                <div class="row justify-content-lg-end justify-content-center flex-lg-nowrap mb-7">

                    <div class="col-12 d-flex mb-5 mb-sm-6 mb-lg-0">
                        <!-- Image -->
                        <img src="{% static "theme-assets/images/portfolio/case-study-02.jpg" %}" class="rounded" alt="portfolio-img">
                    </div>

                    <div class="col-lg-5 ps-lg-6">
                        <!-- Project title -->
                        <h4 class="mb-4">Overview</h4>
                        <p class="mb-4">In affronting unreserved delightful simplicity ye. Law own advantage furniture continual sweetness bed agreeable perpetual. Oh song well four only head busy it. Afford son she had lively living.</p>
                        <!-- Project list -->
                        <table class="table table-borderless mb-4">
                            <tbody>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Client:</th>
                                    <td class="px-0 py-2">Allen Smith</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Manager:</th>
                                    <td class="px-0 py-2">Emma Watson, Maria Smith</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Category:</th>
                                    <td class="px-0 py-2">Interior design</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="heading-color px-0 py-2">Awards:</th>
                                    <td class="px-0 py-2">
                                        <span class="d-block"> Pineapple Award Design</span>
                                        <span class="d-block mt-2"> Project of the Year </span>
                                        <span class="d-block mt-2"> Designer of the Year</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Button -->
                        <a href="#" class="btn btn-dark mb-0">View project website<i class="bi bi-box-arrow-up-right ms-2"></i></a>
                    </div>
                </div>

                <!-- Challenge -->
                <div class="row mb-6">
                    <div class="col-md-4">
                        <h4>01. The Challenge</h4>
                    </div>

                    <div class="col-md-7 ms-auto">
                        <p><span class="dropcap fs-2 heading-color bg-light rounded px-2">T</span>he simple act of cultivating gratitude has the remarkable ability to bring joy and abundance into our lives, shifting our perspective from lack to abundance.
                            In this article, we will explore the power of gratitude and how it can enhance our overall well-being and create a positive ripple effect in our lives and the lives of those around us. <strong>In a world filled with chaos</strong>                            and uncertainty, it's easy to lose sight of the things that truly matter.</p>
                        <p class="mb-0">Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis, <a href="#">exploring existing solutions</a>, and collaborating with
                            others can help refine the idea further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability.</p>
                    </div>
                </div>

                <!-- Images -->
                <div class="row g-4 g-xl-6">
                    <div class="col-sm-6">
                        <a href="{% static "theme-assets/images/portfolio/showcase/04.jpg" %}" data-glightbox data-gallery="image-popup">
					<img src="{% static "theme-assets/images/portfolio/showcase/04.jpg" %}" class="rounded" alt="portfolio-img">
				</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% static "theme-assets/images/portfolio/showcase/05.jpg" %}" data-glightbox data-gallery="image-popup">
					<img src="{% static "theme-assets/images/portfolio/showcase/05.jpg" %}" class="rounded" alt="portfolio-img">
				</a>
                    </div>
                </div>

                <!-- Solution -->
                <div class="row mt-6">
                    <div class="col-md-4">
                        <!-- Title -->
                        <h4>02. The Solution</h4>
                    </div>

                    <div class="col-md-7 ms-auto">
                        <!-- Content -->
                        <p class="mb-4">Once an idea takes root, it requires nurturing and refinement. This stage involves research, brainstorming, and gathering feedback. Conducting market analysis, exploring existing solutions, and collaborating with others can help
                            refine the idea further. The goal is to gain a deeper understanding of the idea's feasibility, potential impact, and market viability. It begins with recognizing the power and potential of an idea. Through cultivation, planning,
                            and strategizing, ideas are refined and shaped into actionable plans. Challenges are embraced as opportunities for growth, and perseverance becomes key in overcoming obstacles.</p>
                    </div>
                </div>

                <!-- Result -->
                <div class="row mt-6">
                    <div class="col-md-4">
                        <!-- Title -->
                        <h4>03. The Result</h4>
                    </div>

                    <!-- Content -->
                    <div class="col-md-7 ms-auto">
                        <p class="lead">Two assure Edward whence the was. Who worthy yet ten boy denote wonder. Weeks views her sight old tears sorry. Additions can suspected its concealed put furnished.</p>
                        <p>Transforming ideas into reality often requires collaboration with a diverse range of individuals. Partnering with experts, seeking mentorship, and building a network of like-minded individuals can provide valuable insights and
                            support.</p>

                        <!-- Quote -->
                        <div class="d-flex mt-4">
                            <h5 class="display-4 text-primary lh-0 mb-0"><i class="bi bi-quote"></i></h5>
                            <div class="ms-3">
                                <q class="fs-6 heading-color">Too months nay end change relied who beauty wishes matter. Shew of john real park so rest we on. Ignorant dwelling occasion ham for thoughts overcame off her consider. Polite it elinor is depend.</q>
                                <!-- Avatar -->
                                <div class="d-flex align-items-center mt-4">
                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img class="avatar-img rounded-circle" src="{% static "theme-assets/images/avatar/02.jpg" %}" alt="avatar">
                                    </div>
                                    <!-- Info -->
                                    <div class="ms-3">
                                        <h6 class="mb-0">Emma Watson</h6>
                                        <small>CEO, Co-founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Share and Navigation link -->
                <div class="row mt-8">
                    <div class="col-12">
                        <!-- Tags and share button -->
                        <div class="d-lg-flex justify-content-lg-between">
                            <!-- Popular tags -->
                            <div class="align-items-center mb-3 mb-lg-0">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"> <a class="btn btn-outline-light rounded-pills btn-sm mb-lg-0" href="#">Branding</a> </li>
                                    <li class="list-inline-item"> <a class="btn btn-outline-light rounded-pills btn-sm mb-lg-0" href="#">Packaging</a> </li>
                                    <li class="list-inline-item"> <a class="btn btn-outline-light rounded-pills btn-sm mb-lg-0" href="#">UI/UX design</a> </li>
                                </ul>
                            </div>

                            <!-- Social media button -->
                            <div class="align-items-center">
                                <ul class="list-inline mb-0 mb-2 mb-sm-0">
                                    <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-facebook" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
                                    <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-instagram-gradient" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
                                    <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-twitter" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
                                    <li class="list-inline-item"> <a class="btn px-2 btn-sm bg-linkedin" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
                                </ul>
                            </div>
                        </div>

                        <hr class="my-4">
                        <!-- Divider -->

                        <!-- Navigation link -->
                        <div class="row align-items-center">
                            <div class="col-5 position-relative">
                                <span><i class="bi bi-arrow-left me-2"></i>Previous</span>
                                <h6 class="mb-0 mt-2"><a href="#" class="stretched-link">The Art of Storytelling</a></h6>
                            </div>
                            <div class="col-2 text-center">
                                <a href="#" class="heading-color text-primary-hover"> <i class="bi bi-grid-3x3-gap-fill"></i> </a>
                            </div>
                            <div class="col-5 text-end position-relative">
                                <span>Next<i class="bi bi-arrow-right ms-2"></i></span>
                                <h6 class="mb-0 mt-2"><a href="#" class="stretched-link">Transforming Ideas into Reality</a></h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Case studies detail END -->

        <!-- Related Works START -->
        <section class="pt-0">
            <div class="container">
                <!-- Title -->
                <h3 class="mb-4 mb-sm-5">Related works</h3>

                <!-- Slider START -->
                <div class="swiper" data-swiper-options='{ 
				"loop": false,
				"spaceBetween": 40,
				"pagination":{
					"el":".swiper-pagination"
				},
				"breakpoints": {
					"576": {"slidesPerView": 1}, 
					"768": {"slidesPerView": 2},
					"1200": {"slidesPerView": 3}
				}}'>

                    <div class="swiper-wrapper">
                        <!-- Slider item -->
                        <div class="swiper-slide">
                            <div class="card card-img-scale bg-transparent overflow-hidden">
                                <!-- Logo -->
                                <div class="position-absolute top-0 start-0 z-index-1">
                                    <img src="{% static "theme-assets/images/client/client-white/03.svg" %}" class="h-40px m-4" alt="Client-img">
                                </div>

                                <div class="card-img-scale-wrapper rounded-3">
                                    <!-- Card Image -->
                                    <img src="{% static "theme-assets/images/portfolio/showcase/03.jpg" %}" class="img-scale" alt="portfolio-img">
                                </div>
                                <!-- Card body -->
                                <div class="card-body px-0 pb-0">
                                    <h5 class="mb-0"><a href="portfolio-case-studies-v2.html" class="heading-color stretched-link">Brushstrokes and Beyond</a></h5>
                                    <small>UI/UX design</small>
                                </div>
                            </div>
                        </div>

                        <!-- Slider item -->
                        <div class="swiper-slide">
                            <div class="card card-img-scale bg-transparent overflow-hidden">
                                <!-- Logo -->
                                <div class="position-absolute top-0 start-0 z-index-1">
                                    <img src="{% static "theme-assets/images/client/client-white/04.svg" %}" class="h-40px m-4" alt="Client-img">
                                </div>

                                <div class="card-img-scale-wrapper rounded-3">
                                    <!-- Card Image -->
                                    <img src="{% static "theme-assets/images/portfolio/showcase/02.jpg" %}" class="img-scale" alt="portfolio-img">
                                </div>
                                <!-- Card body -->
                                <div class="card-body px-0 pb-0">
                                    <h5 class="mb-0"><a href="portfolio-case-studies-v1.html" class="heading-color stretched-link">Ceremony Worthy of Time</a></h5>
                                    <small>Web design</small>
                                </div>
                            </div>
                        </div>

                        <!-- Slider item -->
                        <div class="swiper-slide">
                            <div class="card card-img-scale bg-transparent overflow-hidden">
                                <!-- Logo -->
                                <div class="position-absolute top-0 start-0 z-index-1">
                                    <img src="{% static "theme-assets/images/client/client-white/01.svg" %}" class="h-40px m-4" alt="Client-img">
                                </div>

                                <div class="card-img-scale-wrapper rounded-3">
                                    <!-- Card Image -->
                                    <img src="{% static "theme-assets/images/portfolio/showcase/05.jpg" %}" class="img-scale" alt="portfolio-img">
                                </div>
                                <!-- Card body -->
                                <div class="card-body px-0 pb-0">
                                    <h5 class="mb-0"><a href="portfolio-case-studies-v2.html" class="heading-color stretched-link">The Art of Storytelling</a></h5>
                                    <small>Graphics design</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Pagination -->
                    <div class="swiper-pagination swiper-pagination-primary position-relative mt-4"></div>
                </div>
                <!-- Slider END -->
            </div>
        </section>
        <!-- Related Works END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock Content %}