{% extends "base.html" %}
{% load static %}
    {% block Content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>


        <!-- Blog list and sidebar START -->
        <section class="pt-7">
            <div class="container pt-3 pt-xl-5">
                <!-- Title & Tab -->
                <div class="d-lg-flex justify-content-between align-items-center">
                    <!-- Title -->
                    <h4 class="mb-3 mb-lg-0">Our Communities</h4>
                    <!-- Tabs -->
                    <ul class="nav nav-pills gap-1 nav-pills-light">
                        <li class="nav-item">
                            <a href="{% url 'communities' %}"class="nav-link active">All Posts</a>
                        </li>
                        {% for community in communities %}
                            <li class="nav-item">
                                <a class="nav-link active" href="?community={{ community.name }}">{{ community.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <form class="col-sm-6 bg-body border rounded-2 position-relative p-2 mt-4 mt-md-5" action="{% url 'communities' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input class="form-control focus-shadow-none border-0 me-1" type="text" name="search_filter" placeholder="Search here...">
                        <button type="submit" class="btn btn-dark rounded-2 mb-0">Search</button>
                    </div>
                </form>

                {% for post in posts %}
                    <!-- Job item -->
                    <div class="card card-body bg-light d-md-flex justify-content-md-between align-items-md-center flex-md-row p-4 mb-3 mt-3">
                        <div class="mb-4 mb-md-0">
                            <!-- Badge -->
                            <div class="badge text-bg-dark mb-3">{{post.category}}</div>
                            <!-- Title -->
                            <h5 class="mb-0"><a href="{% url 'community_single' post.slug %}" class="stretched-link">{{post.title}}</a></h5>

                            <!-- List -->
                            <p class="mt-3">{{post.description}}</p>
                            <div class="hstack gap-3 gap-sm-4 flex-wrap mt-3">
                                {% if post.price %}
                                    <span><i class="bi bi-geo-alt me-2"></i>USA, ontario</span>
                                {% endif %}
                                
                                {% if post.timeline %}
                                    <span><i class="bi bi-clock me-2"></i>{{post.timeline}}</span>
                                {% endif %}

                                {% if post.price %}
                                    <span><i class="bi bi-briefcase me-2"></i>${{post.price}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Button -->
                        <div id="cp_btn" style="display: flex; width: -webkit-fill-available; flex-direction: row-reverse;"><a href="{% url 'community_single' post.slug %}" class="btn btn-primary mb-0">Read more<i class="bi bi-arrow-right ms-2"></i></a></div>
                    </div>
                {% endfor %}

                <!-- Pagination START -->
                <div class="row mt-7">
                    <div class="col-12 mx-auto">
                        <ul class="pagination pagination-primary-soft d-flex justify-content-center mb-0">
                            <li>
                                <ul class="list-unstyled">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Prev</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">..</a></li>
                                    <li class="page-item"><a class="page-link" href="#">22</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Pagination END -->

            </div>
        </section>
        <!-- Blog list and sidebar END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    {% endblock Content %}