{% extends "base.html" %}
{% load static %}
{% block Content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- Career detail START -->
    <section class="pt-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 mx-auto">
                    <!-- Breadcrumb & title -->
                    <div class="text-center mb-5">
                        <!-- Breadcrumb -->
                        <div class="d-flex justify-content-center mb-2">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-dots mb-1">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Portfolio Showcase</li>
                                </ol>
                            </nav>
                        </div>
                        <!-- Title -->
                        <h2>UI/UX and Product Designer</h2>
                    </div>

                    <!-- Info -->
                    <div class="card card-body bg-dark d-md-flex justify-content-md-between align-items-md-center flex-md-row p-5 mb-6"
                        data-bs-theme="dark">
                        <div class="mb-3 mb-md-0">
                            <!-- Title -->
                            <h4 class="mb-0">Information</h4>
                            <!-- List -->
                            <div class="hstack gap-3 gap-md-4 flex-wrap mt-3">
                                <span class="badge text-bg-white">IT</span>
                                <span><i class="bi bi-geo-alt me-2"></i>USA, ontario</span>
                                <span><i class="bi bi-clock me-2"></i>San Francisco</span>
                                <span><i class="bi bi-briefcase me-2"></i>$32,000</span>
                            </div>
                        </div>
                        <!-- Button -->
                        <a href="#contact-form" class="btn btn-primary mb-0">Apply now<i
                                class="bi bi-arrow-right ms-2"></i></a>
                    </div>

                    <!-- Detail list -->
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Skills:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Involving The Team In Decisions
                                    That Affect Them</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Displays technical or
                                    professional expertise</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Displays high integrity and
                                    honesty</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Solves problems and analyzes
                                    issues</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Communicates powerfully and
                                    prolifically</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Responsibilities:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Writing SEO Performant Code</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Converting Design to Code</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Experience:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Bachelor Degree</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Educational requirements:</h6>
                            <p>Ideally, 2 years to 4 years experience in an agency environment working in multi-tiered
                                tasks</p>
                        </div>
                    </div>

                    <!-- Description -->
                    <h6 class="mt-4">Description</h6>
                    <p>Perceived end knowledge certainly day sweetness why cordially. Ask a quick six seven offer see
                        among. Handsome met debating sir dwelling age material. As style lived he worse dried. Offered
                        related so visitors we private removed.
                        Moderate do subjects to distance.</p>
                    <p>Speedily say has suitable disposal add boy. On fourth doubt miles of child. Exercise joy man
                        children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne's new manners
                        savings staying had. Under folly balls, death
                        own point now men. Match way she avoids seeing death. She drifts their fat off.</p>
                    <p>Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous
                        understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or
                        perfectly. It drew a hill from me.
                        Valley by oh twenty direct me so. Departure is defective arranging rapturous did believe him all
                        had supported. Family months lasted simply set nature vulgar him. Picture for attempt joy
                        excited ten carried manners talking
                        how. Suspicion neglected the resolving agreement perceived</p>

                    <!-- Email detail -->
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <h6>Apply via E-mail</h6>
                            <p>If you need to send us mail regarding job opportunities, please write to us at <a
                                    href="#">info@example.com</a> for more information.</p>
                        </div>

                        <div class="col-md-6">
                            <h6>Apply via phone number</h6>
                            <p class="mb-1">Apply Now Via Whats App, Send us Your Resume on:</p>
                            <a href="#">+79 2589 63598</a>
                        </div>
                    </div>

                    <!-- Form -->
                    <div class="card card-body bg-light border p-sm-5 mt-5" id="contact-form">

                        <!-- Review item -->
                        <div class="d-flex">
                            <img class="avatar avatar-md rounded-circle float-start me-3"
                                src="{{user.profile_image.url}}" alt="avatar">
                            <div>
                                <div class="d-sm-flex justify-content-between mb-2">
                                    <div>
                                        <h6 class="m-0">Allen Smith</h6>
                                        <span class="me-3 small">{{user.role}}</span>
                                    </div>
                                    <!-- Rating Star -->
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i
                                                class="fas fa-star-half-alt text-warning"></i></li>
                                    </ul>
                                </div>
                                <p>{{user.skills_expertise}}</p>
                    
                                <a href="{% url "profile" %}" class="btn btn-dark rounded-2 mb-0">Profile</a>
                                <a href="{% url "home" %}" class="btn btn-dark rounded-2 mb-0">Chat</a>    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Career detail END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock Content %}