{% extends "base.html" %}
{% load static %}
{% block Content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- Career detail START -->
    <section class="pt-8">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 mx-auto">
                    <!-- Title -->        
                    <div class="text-center mb-5">
                        <h2>{{post.title}}</h2>
                    </div>

                    <!-- Info -->
                    <div class="card card-body bg-dark d-md-flex justify-content-md-between align-items-md-center flex-md-row p-5 mb-6"
                        data-bs-theme="dark">
                        <div class="mb-3 mb-md-0">
                            <!-- Title -->
                            <h4 class="mb-0">{{post.category}}</h4>
                            <!-- List -->
                            <div class="hstack gap-3 gap-md-4 flex-wrap mt-3">
                                <span><i class="bi bi-geo-alt me-2"></i>USA, ontario</span>
                                <span><i class="bi bi-clock me-2"></i>{{post.timeline}}</span>
                                <span><i class="bi bi-briefcase me-2"></i>${{post.price}}</span>
                            </div>
                        </div>
                        <!-- Button -->
                        <a href="#contact-form" class="btn btn-primary mb-0">Apply now<i
                                class="bi bi-arrow-right ms-2"></i></a>
                    </div>

                    <!-- Detail list -->
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Skills:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Involving The Team In Decisions
                                    That Affect Them</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Displays technical or
                                    professional expertise</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Displays high integrity and
                                    honesty</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Solves problems and analyzes
                                    issues</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Communicates powerfully and
                                    prolifically</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Responsibilities:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Writing SEO Performant Code</li>
                                <li class="list-group-item d-flex mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Converting Design to Code</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Experience:</h6>
                            <ul class="list-group list-group-borderless mb-4">
                                <li class="list-group-item mb-0"><i
                                        class="bi bi-patch-check text-primary me-2"></i>Bachelor Degree</li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <h6>Educational requirements:</h6>
                            <p>Ideally, 2 years to 4 years experience in an agency environment working in multi-tiered
                                tasks</p>
                        </div>
                    </div>

                    <!-- Description -->
                    <h6 class="mt-4">Description</h6>
                    <p>{{post.description | safe}}</p>

                    <div class="card card-body bg-light border p-sm-5 mt-5" id="contact-form">
                        <!-- Review item -->
                        <div class="d-flex">
                            <img class="avatar avatar-md rounded-circle float-start me-3"
                                src="{{user.profile_image.url}}" alt="avatar">
                            <div>
                                <div class="d-sm-flex justify-content-between mb-2">
                                    <div>
                                        <h6 class="m-0">{{post.user.full_name}}</h6>
                                        <span class="me-3 small">{{post.user.role}}</span>
                                    </div>
                                    <!-- Rating Star -->
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i class="fas fa-star text-warning"></i>
                                        </li>
                                        <li class="list-inline-item small me-0"><i
                                                class="fas fa-star-half-alt text-warning"></i></li>
                                    </ul>
                                </div>
                                <p>{{user.skills_expertise}}</p>
                    
                                <a href="{% url "profile" user.username %}" class="btn btn-dark rounded-2 mb-0">Profile</a>
                                <a href="{% url "home" %}" class="btn btn-dark rounded-2 mb-0">Chat</a>    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Career detail END -->
</main>
<!-- **************** MAIN CONTENT END **************** -->
{% endblock Content %}