<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <title>Mizzle - Technology and Corporate Bootstrap Theme</title>

    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Webestica.com">
    <meta name="description" content="Technology and Corporate Bootstrap Theme">

    <!-- Dark mode -->
    <script>
        const storedTheme = localStorage.getItem('theme')

        const getPreferredTheme = () => {
            if (storedTheme) {
                return storedTheme
            }
            return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
        }

        const setTheme = function(theme) {
            if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-bs-theme', 'dark')
            } else {
                document.documentElement.setAttribute('data-bs-theme', theme)
            }
        }

        setTheme(getPreferredTheme())

        window.addEventListener('DOMContentLoaded', () => {
            var el = document.querySelector('.theme-icon-active');
            if (el != 'undefined' && el != null) {
                const showActiveTheme = theme => {
                    const activeThemeIcon = document.querySelector('.theme-icon-active use')
                    const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                    const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

                    document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                        element.classList.remove('active')
                    })

                    btnToActive.classList.add('active')
                    activeThemeIcon.setAttribute('href', svgOfActiveBtn)
                }

                window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                    if (storedTheme !== 'light' || storedTheme !== 'dark') {
                        setTheme(getPreferredTheme())
                    }
                })

                showActiveTheme(getPreferredTheme())

                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            localStorage.setItem('theme', theme)
                            setTheme(theme)
                            showActiveTheme(theme)
                        })
                    })

            }
        })
    </script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "theme-assets/images/favicon.ico" %}">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "theme-assets/vendor/font-awesome/css/all.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "theme-assets/vendor/bootstrap-icons/bootstrap-icons.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "theme-assets/vendor/stepper/css/bs-stepper.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "theme-assets/vendor/swiper/swiper-bundle.min.css" %}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "theme-assets/css/style.css" %}">

</head>

<body>

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <div class="row g-0">
            <!-- left -->
            <div class="col-lg-7 vh-100 d-none d-lg-block">
                <!-- Slider START -->
                <div class="swiper h-100" data-swiper-options='{  
					"pagination":{
						"el":".swiper-pagination",
						"clickable":"true"
					}}'>

                    <!-- Slider items START -->
                    <div class="swiper-wrapper">
                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card rounded-0 h-100" data-bs-theme="dark" style="background-image:url({% static "theme-assets/images/auth/01.jpg" %}); background-position: center left; background-size: cover;">
                                <!-- Bg overlay -->
                                <div class="bg-overlay bg-dark opacity-5"></div>

                                <!-- Card info -->
                                <div class="card-img-overlay z-index-2 p-7">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <!-- Quote -->
                                        <h4 class="fw-light">"With unwavering determination, they navigate the complexities of the industry, forging strategic partnerships and driving transformative change."</h4>
                                        <!-- Info -->
                                        <div class="d-flex justify-content-between mt-5">
                                            <div>
                                                <h5 class="mb-0">Emma Watson</h5>
                                                <span>Founder, catalog</span>
                                            </div>
                                            <!-- Rating star -->
                                            <ul class="list-inline mb-1">
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small"><i class="fa-solid fa-star-half-alt text-white"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card rounded-0 h-100" data-bs-theme="dark" style="background-image:url({% static "theme-assets/images/auth/02.jpg" %}); background-position: center left; background-size: cover;">
                                <!-- Bg overlay -->
                                <div class="bg-overlay bg-dark opacity-5"></div>

                                <!-- Card info -->
                                <div class="card-img-overlay z-index-2 p-7">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <!-- Quote -->
                                        <h4 class="fw-light">"An exceptional agency CEO is a visionary, constantly pushing the boundaries of creativity and pushing their team to new heights. They inspire with their passion and cultivate a culture of trust and respect."</h4>
                                        <!-- Info -->
                                        <div class="d-flex justify-content-between mt-5">
                                            <div>
                                                <h5 class="mb-0">Carolyn Ortiz</h5>
                                                <span>CEO, mizzle</span>
                                            </div>
                                            <!-- Rating star -->
                                            <ul class="list-inline mb-1">
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small"><i class="fa-solid fa-star-half-alt text-white"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="swiper-slide">
                            <div class="card rounded-0 h-100" data-bs-theme="dark" style="background-image:url({% static "theme-assets/images/auth/03.jpg" %}); background-position: center left; background-size: cover;">
                                <!-- Bg overlay -->
                                <div class="bg-overlay bg-dark opacity-5"></div>

                                <!-- Card info -->
                                <div class="card-img-overlay z-index-2 p-7">
                                    <div class="d-flex flex-column justify-content-end h-100">
                                        <!-- Quote -->
                                        <h4 class="fw-light">" Through collaboration and strategic direction, they steer the agency towards its goals, navigating the ever-evolving landscape with agility and grace."</h4>
                                        <!-- Info -->
                                        <div class="d-flex justify-content-between mt-5">
                                            <div>
                                                <h5 class="mb-0">Dennis Barrett</h5>
                                                <span>Founder, catalog</span>
                                            </div>
                                            <!-- Rating star -->
                                            <ul class="list-inline mb-1">
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small me-0"><i class="fa-solid fa-star text-white"></i></li>
                                                <li class="list-inline-item small"><i class="fa-solid fa-star-half-alt text-white"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Pagination -->
                    <div class="swiper-pagination swiper-pagination-line mb-3"></div>
                </div>
            </div>

            <!-- Right -->
            <div id="stepper" class="bs-stepper stepper-outline position-relative col-sm-10 col-lg-5 d-flex m-auto vh-100">

                <!-- Step Buttons START -->
                <div class="bs-stepper-header position-absolute top-0 start-50 translate-middle-x" role="tablist">
                    <!-- Step 1 -->
                    <div class="step" data-target="#step-1">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger1" aria-controls="step-1">
								<span class="bs-stepper-circle">1</span>
							</button>
                        </div>
                    </div>

                    <!-- Step 2 -->
                    <div class="step" data-target="#step-2">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger2" aria-controls="step-2">
								<span class="bs-stepper-circle">2</span>
							</button>
                        </div>
                    </div>

                    <!-- Step 3 -->
                    <div class="step" data-target="#step-3">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger3" aria-controls="step-3">
								<span class="bs-stepper-circle">3</span>
							</button>
                        </div>
                    </div>

                    <!-- Step 4 -->
                    <div class="step" data-target="#step-4">
                        <div class="text-center">
                            <button type="button" class="btn btn-link step-trigger mb-0" role="tab" id="steppertrigger4" aria-controls="step-4">
								<span class="bs-stepper-circle">4</span>
							</button>
                        </div>
                    </div>
                </div>
                <!-- Step Buttons END -->

                <div class="bs-stepper-content d-flex justify-content-center m-auto w-100">
                    <form class="w-100" action="{% url 'signUpSteps' %}" method="POST">
                        {% csrf_token %}
                        <div class="row g-4 m-auto">
                            <!-- Main content START -->
                            <div class="col-lg-10 m-auto">
                                <!-- Step 1 content START -->
                                <div id="step-1" role="tabpanel" class="content fade" aria-labelledby="steppertrigger1">
                                    <a href="index.html"><img src="{% static "theme-assets/images/logo-icon.svg" %}" class="h-50px mb-4" alt="logo"></a>
                                    <h2 class="mb-1">What do you do*</h2>
                                    <!-- Role -->
                                    <div class="input-floating-label form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="role" placeholder="Front End Developer" required>
                                        <label for="floatingInput">Role</label>
                                    </div>
                                    <!-- Company -->
                                    <div class="input-floating-label form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="company" placeholder="eg.: xyz" required>
                                        <label for="floatingInput">Company</label>
                                    </div>
                                    <!-- City -->
                                    <div class="input-floating-label form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="city" placeholder="varanasi" required>
                                        <label for="floatingInput">City</label>
                                    </div>
                                    <!-- Zip Code -->
                                    <div class="input-floating-label form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="zip-code" placeholder="821108" required>
                                        <label for="floatingInput">Zip</label>
                                    </div>
                                    <!-- Button -->
                                    <div class="step d-grid text-center" data-target="#step-2">
                                        <button type="button" class="btn btn-dark step-trigger mb-0" role="tab" id="steppertrigger2" aria-controls="step-3" style="background-color:var(--bs-btn-bg) !important; padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important; color: #ffffff !important;">Next</button>
                                    </div>
                                </div>
                                <!-- Step 1 content END -->
                                <!-- Step 2 content START -->
                                <div id="step-2" role="tabpanel" class="content fade" aria-labelledby="steppertrigger2">
                                    <a href="index.html"><img src="{% static "theme-assets/images/logo-icon.svg" %}" class="h-50px mb-4" alt="logo"></a>
                                    <h2 class="mb-1">What are you looking for*</h2>
                                    <p class="mb-4">( Select at least one. max 3 )</p>
                                    <!-- Looking For -->
                                    <div class="options">
                                        <input type="checkbox" id="advisor" name="looking_for" value="Advisor" required>
                                        <label for="advisor">Advisor</label>
                                        <input type="checkbox" id="job" name="looking_for" value="Job" required>
                                        <label for="job">Job</label>
                                        <input type="checkbox" id="mentor" name="looking_for" value="Mentor" required>
                                        <label for="mentor">Mentor</label>
                                        <input type="checkbox" id="investor" name="looking_for" value="Investor" required>
                                        <label for="investor">Investor</label>
                                        <input type="checkbox" id="collaborator" name="looking_for" value="Collaborator" required>
                                        <label for="collaborator">Collaborator</label>
                                        <input type="checkbox" id="warm_intro" name="looking_for" value="Warm_intro" required>
                                        <label for="warm_intro">Warm intro</label>
                                        <input type="checkbox" id="feedback" name="looking_for" value="Feedback" required>
                                        <label for="feedback">Feedback</label>
                                        <input type="checkbox" id="cofounder" name="looking_for" value="Co-founder" required>
                                        <label for="cofounder">Co-founder</label>
                                        <input type="checkbox" id="freelancer_consultant" name="looking_for" value="Freelancer_consultant" required>
                                        <label for="freelancer_consultant">Freelancer/consultant</label>
                                        <input type="checkbox" id="volunteers" name="looking_for" value="Volunteers" required>
                                        <label for="volunteers">Volunteers</label>
                                        <input type="checkbox" id="internship" name="looking_for" value="Internship" required>
                                        <label for="internship">Internship</label>
                                        <input type="checkbox" id="startup_to_join" name="looking_for" value="Startup_to_join" required>
                                        <label for="startup_to_join">Startup to join</label>
                                        <input type="checkbox" id="press_publicity" name="looking_for" value="Press_Publicity" required>
                                        <label for="press_publicity">Press/Publicity</label>
                                        <input type="checkbox" id="users_customers" name="looking_for" value="Users_customers" required>
                                        <label for="users_customers">Users/customers</label>
                                        <input type="checkbox" id="inspiration" name="looking_for" value="Inspiration" required>
                                        <label for="inspiration">Inspiration</label>
                                        <input type="checkbox" id="smart_people" name="looking_for" value="Smart_people" required>
                                        <label for="smart_people">Smart people</label>
                                        <input type="checkbox" id="new_perspectives" name="looking_for" value="New_perspectives" required>
                                        <label for="new_perspectives">New perspectives</label>
                                        <input type="checkbox" id="next_unicorn" name="looking_for" value="Next_unicorn" required>
                                        <label for="next_unicorn">Next unicorn</label>
                                        <input type="checkbox" id="next_challenge" name="looking_for" value="Next_challenge" required>
                                        <label for="next_challenge">Next challenge</label>
                                        <input type="checkbox" id="moonshots" name="looking_for" value="Moonshots" required>
                                        <label for="moonshots">Moonshots</label>
                                        <input type="checkbox" id="an_active_network" name="looking_for" value="An_active_network" required>
                                        <label for="an_active_network">An active network</label>
                                        <input type="checkbox" id="startup_ideas" name="looking_for" value="Startup_ideas" required>
                                        <label for="startup_ideas">Startup ideas</label>
                                        <input type="checkbox" id="grow_my_startup" name="looking_for" value="Grow_my_startup" required>
                                        <label for="grow_my_startup">Grow my startup</label>
                                        <input type="checkbox" id="learn_something_new" name="looking_for" value="Learn_something_new" required>
                                        <label for="learn_something_new">Learn something new</label>
                                        <input type="checkbox" id="upskill" name="looking_for" value="Upskill" required>
                                        <label for="upskill">Upskill</label>
                                    </div>
                                    <!-- Button -->
                                    <div class="step d-grid text-center" data-target="#step-3">
                                        <button type="button" class="btn btn-dark step-trigger mb-0" role="tab" id="steppertrigger3" aria-controls="step-3" style="background-color:var(--bs-btn-bg) !important; padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important; color: #ffffff !important;">Next</button>
                                    </div>
                                    <!-- Form END -->
                                </div>
                                <!-- Step 2 content END -->
                                <!-- Step 3 content START -->
                                <div id="step-3" role="tabpanel" class="content fade" aria-labelledby="steppertrigger3">
                                    <a href="index.html"><img src="{% static "theme-assets/images/logo-icon.svg" %}" class="h-50px mb-4" alt="logo"></a>
                                    <h2 class="mb-1">I can* <span style="font-family: 'Inter', sans-serif; font-size: 16px; color: #606261; font-weight: 400;">( How can you help other professionals )</span></h2>
                                    <p class="mb-4">( Select at least one. max 3 )</p>
                                    <!-- I Can -->
                                    <div class="options">
                                        <input type="checkbox" id="invest" name="i_can" value="Invest" required>
                                        <label for="invest">Invest</label>
                                        <input type="checkbox" id="collaborat" name="i_can" value="Collaborator" required>
                                        <label for="collaborat">Collaborator</label>
                                        <input type="checkbox" id="introduce" name="i_can" value="Introduce you" required>
                                        <label for="introduce">Introduce you</label>
                                        <input type="checkbox" id="give_feedback" name="i_can" value="Give Feedback" required>
                                        <label for="give_feedback">Give Feedback</label>
                                        <input type="checkbox" id="teach" name="i_can" value="Teach" required>
                                        <label for="teach">Teach</label>
                                        <input type="checkbox" id="freelancer_consult" name="i_can" value="Freelancer Consult" required>
                                        <label for="freelancer_consult">Freelancer/Consult</label>
                                        <input type="checkbox" id="volunteer" name="i_can" value="Volunteer" required>
                                        <label for="volunteer">Volunteer</label>
                                        <input type="checkbox" id="cofound" name="i_can" value="Co-found" required>
                                        <label for="cofound">Co-found</label>
                                        <input type="checkbox" id="sell" name="i_can" value="Sell" required>
                                        <label for="sell">Sell</label>
                                        <input type="checkbox" id="promote_product" name="i_can" value="Promote Product" required>
                                        <label for="promote_product">Promote product</label>
                                        <input type="checkbox" id="speak_events" name="i_can" value="Speak at events" required>
                                        <label for="speak_events">Speak at events</label>
                                        <input type="checkbox" id="create_content" name="i_can" value="Create Content" required>
                                        <label for="create_content">Create Content</label>
                                        <input type="checkbox" id="growth_hack" name="i_can" value="Growth Hack" required>
                                        <label for="growth_hack">Growth Hack</label>
                                        <input type="checkbox" id="ideate" name="i_can" value="Ideate" required>
                                        <label for="ideate">Ideate</label>
                                    </div>
                                    <!-- Button -->
                                    <div class="step d-grid text-center" data-target="#step-4">
                                        <button type="button" class="btn btn-dark step-trigger mb-0" role="tab" id="steppertrigger4" aria-controls="step-3" style="background-color:var(--bs-btn-bg) !important; padding:var(--bs-btn-padding-y) var(--bs-btn-padding-x) !important; color: #ffffff !important;">Next</button>
                                    </div>
                                </div>
                                <!-- Step 3 content END -->
                                <!-- Step 4 content START -->
                                <div id="step-4" role="tabpanel" class="content fade" aria-labelledby="steppertrigger4">
                                    <a href="index.html"><img src="{% static "theme-assets/images/logo-icon.svg" %}" class="h-50px mb-4" alt="logo"></a>
                                    <h2 class="mb-1">Your skills &amp; expertise*</h2>
                                    <p class="mb-4">Outline your primary/core skills in a sentence or two. <br>You can elaborate later.</p>
                                    <textarea style="padding: 10px; border-radius: 5px;" name="skills_expertise" id="" rows="7" cols="30" placeholder="Take a minute to outline 2 or 3 of your skills/expertise" required></textarea>
                                    <!-- Button -->
                                    <div class="d-grid text-center">
                                        <button class="btn btn-dark mb-0" type="submit">Submit</button>
                                    </div>
                                </div>
                                <!-- Step 4 content END -->
                            </div>
                            <!-- Main content END -->
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- Back to top -->
    <div class="back-top"></div>

    <!-- Bootstrap JS -->
    <script src="{% static "theme-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}"></script>

    <!--Vendors-->
    <script src="{% static "theme-assets/vendor/pswmeter/pswmeter.min.js" %}"></script>
    <script src="{% static "theme-assets/vendor/stepper/js/bs-stepper.min.js" %}"></script>
    <script src="{% static "theme-assets/vendor/swiper/swiper-bundle.min.js" %}"></script>

    <!-- Theme Functions -->
    <script src="{% static "theme-assets/js/functions.js" %}"></script>

</body>

</html>